/* blue color scheme: */
/* https://paletton.com/#uid=13M0u0kllll4O++d4w0tBaGMB00 */

body {
  font-family: "Nunito", sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: #0f2f43;
}

p {
  margin: 0px;
  padding: 0px;
}

.floatRight {
  justify-content: right;
}

.flexbox {
  display: flex;
  flex-flow: column, nowrap;
  align-items: center;
}

.smallIcon {
  height: 6vh;
}

.smallerIcon {
  height: 3vh;
  margin-right: 1vw;
}

.content {
  margin-left: 15vw;
  margin-right: 15vw;
}

/* 
current weather information:
*/

.currentInformation {
  background-color: #174664;
  padding: 2vh 5vw 2vh 5vw;
  margin-top: 2vh;
  border-radius: 9999px;
}

.currentInformation > div {
  width: 50%;
}

.currentTemperaturDisplay {
  line-height: 80%;
  margin-top: 1.5vh;
}

.locationDisplay,
.timeMeasuredDisplay,
.currentFeelsLike {
  padding-left: 0.6vw;
}

/* 
Forecast:
 */

.forecast {
  margin-top: 10vh;
}

.forecastChart {
  width: 100%;
}

/* 
Searchbar:
*/

.searchArea {
  margin-top: 1vh;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-radius: 999px;
  background-color: #174664;
  height: 5vh;
}

.searchBar {
  width: 94.5%;
  height: 4.25vh;
  padding-left: 1vw;
}

.searchBar > input {
  border: none;
  border-radius: 999px;
  background-color: #174664;
  color: #dbe6ff;
}

.searchBar > input:focus {
  outline: none;
}

.searchButton {
  margin-top: 5px;
  width: 3%;
  cursor: pointer;
}

.searchbarFocus {
  border: 2px solid #dbe6ff;
  transition: border 0.05s;
}

/* 
Favourise Button:
*/

.favourite {
  margin: 0px 0px 10px 10px;
  cursor: pointer;
}
