/* blue color scheme: */
/* https://paletton.com/#uid=13M0u0kllll4O++d4w0tBaGMB00 */

body {
  font-family: "Nunito", sans-serif;
  margin: 0px;
  padding: 0px;
}

p {
  margin: 0px;
  padding: 0px;
}

.floatRight {
  justify-content: right;
}

.flexbox {
  display: flex;
  flex-flow: column, nowrap;
  align-items: center;
}

.smallIcon {
  height: 6vh;
}

.smallerIcon {
  height: 3vh;
  margin-right: 1vw;
}

.content {
  margin-left: 15vw;
  margin-right: 15vw;
}

.currentInformation {
  background-color: hsl(222, 100%, 93%);
  padding: 2vh 5vw 2vh 5vw;
  margin-top: 2vh;
  border-radius: 9999px;
}

.currentInformation > div {
  width: 50%;
}

.currentTemperaturDisplay {
  line-height: 80%;
  margin-top: 1.5vh;
}

.locationDisplay,
.timeMeasuredDisplay,
.currentFeelsLike {
  padding-left: 0.6vw;
}

/* 
Forecast:
 */

.forecast {
  margin-top: 10vh;
}

.forecastChart {
  width: 100%;
}

/* 
Searchbar:
*/

.searchArea {
}

.searchBar {
}
