body {
  font-family: "Nunito", sans-serif;
}

p {
  margin: 0px;
  padding: 0px;
}

.content {
  margin-left: 20vw;
  margin-right: 20vw;
}

.currentInformation {
  display: flex;
  flex-flow: column, nowrap;
}

.currentInformation > div {
  width: 50%;
}
